<article class="card{{ modifier ? ' ' ~ modifier }}">
  {% if image %}
    <div class="card__image">
      <figure>
        {{ image }}
      </figure>
    </div>
  {% endif %}

  <div class="card__content">
    {% if title %}
      <header class="card__header">
        {% include "@atoms/title/title.twig" with {
          'level': title.level,
          'modifier': title.modifier,
          'text': title.text,
          'url': title.url,
        } only %}
      </header>
    {% endif %}

    {% if teaser %}
      <p class="card__teaser">{{ teaser }}</p>
    {% endif %}
  </div>
</article>
