/**
* @file
* Card component which includes title components.
*/

.card {
  display: flex;
  flex: 1 1 var(--size-44);
  flex-direction: column;
  height: auto;
  max-width: 46rem;
  overflow: hidden;
}

/* Using flex-grow to allow date to be positioned at the bottom of the card by
using margin-top: auto in the date wrapper field below. */
.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--size-4);

  /* For consistent top/bottom spacing for all fields in the card. */
  > * {
    margin-block-end: var(--size-3);
  }
}

.card__date {
  align-items: center;
  display: flex;
  font-weight: var(--font-weight-600);

  .date {
    font-weight: var(--font-weight-600);

    svg {
      margin-inline-end: var(--size-2);
    }
  }
}
