.button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  color: var(--white);
  display: inline-block;
  font-size: var(--size-14);
  font-weight: 600;
  margin-inline-start: auto;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  transition: var(--transition-background-color-04s), var(--transition-color-04s), var(--transition-border-color-04s);
  white-space: nowrap;

  &.button--light {
    background-color: var(--white);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);

    &:hover {
      border-color: var(--color-grey-dark);
      color: var(--black);
    }
  }

  &:hover {
    background-color: var(--white);
    color: var(--color-primary);
  }
}
